* {
    box-sizing: border-box;
  }

body {
    font-family: 'Roboto', sans-serif;
}

/* Navigation */
.container-fluid {
    background-color: white;
  }
.navbar {
    margin-top: 5px;
  }

  .nav-item {
    display: inline;
  }

  .nav-link {
    float: right;
    font-weight: 300;
    font-size: 16px!important;
    color: #b5c8e6!important;
    margin-left: 10px;
    margin-right: 10px;
  }

  .nav-link:hover {
    font-weight: 700;
    color: #1F5BFF!important;
  }

  .logoImage {
    display: inline-block;
    max-height: 30px;
    margin-left: 10px;
    width: auto;
  }

/* Layout */
#banner, #contact {
    height: 100vh;
    max-height: 1080px;
    background-size: cover;
    background-position: center;
  }
  #banner {
    padding-top: 12%;
  }

  #about, #gallery {
    max-height: auto;
  }

  #about, #contact {
    background-color: #E3EEFF;
  }

/* Layout - Banner + Page Content */
.banner-image {
    width: 100%;
    max-width: 350px;
    height: auto;
    vertical-align: middle;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .banner-text {
    margin-top: 10%;
  }

  .banner-paragraph {
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 20px;
    line-height: 1.5;
  }

  .title {
    font-weight: 700;
    color: #7AA6FF;
  }

  .about-paragraphs {
    font-size: 20px;
    text-align: justify;
    padding-right: 100px;
    padding-bottom: 5%;
    line-height: 1.5;
  }

  .col-md-6 {
    margin-top: 8%;
  }

  .about-h4 {
    font-weight: 700;
    color: #7AA6FF;
  }

/* CTAs */
.btn {
    background-color:#E3EEFF;
    color: #1F5BFF;
    border: 1.4px solid;
    border-color: transparent;
    border-radius: 5rem;
    padding: 12px 30px;
  }

  .btn:hover {
    border-color:#1F5BFF;
    background-color:#E3EEFF;
    color: #1F5BFF;
    font-weight: 700;
  }

  .custom-cta {
    background-color: #E3EEFF;
    margin-top: 15%;
    margin-bottom: 8%;
    border: 1.4px solid;
    border-color: #1F5BFF
  }

/* My Work */
.my-work {
    max-width: 100%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 2%;
  }

.work-description {
    font-size: 20px;
  }

/* Form */
  label {
    font-size: 20px;
    color: #7AA6FF;
    margin-top: 7%;
    margin-bottom: 1%;
  }

  .form-control {
    background-color: #E3EEFF;
    border: 1.4px solid;
    border-color: #7AA6FF;
    border-radius: 0.9rem;
  }

  .form-paragraph {
    font-size: 20px;
  }


/* Footer */
footer, .fab-group {
    background-color: #1F5BFF;
    height: 30vh;
    width: 100%;
  }

  .footer-text {
    font-size: 15px;
    color: white;
    text-align: center;
    font-weight: 700;
    padding-top: 4%;
  }

  .fab-group {
    display: block;
    text-align: center;
    padding-top: 4%;
  }

  .fab {
    padding-left: .5em;
    padding-right: .5em;
    color: white;
  }

  .fab:hover {
    color: #7AA6FF;
  }

  /* Back to top button, source https://www.w3schools.com/howto/howto_js_scroll_to_top.asp with little adjustments */

  #myBtn {
    display: none; 
    position: fixed;
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none;
    outline: none;
    background-color: #7AA6FF;
    color: white;
    cursor: pointer; 
    padding: 15px;
    border-radius: 30px;
    font-size: 18px;
  }

  #myBtn:hover {
    border: 1.4px solid;
    border-color: #1F5BFF;
    color: #1F5BFF;
    background-color: white;
  }


/* Media Queries */

  /* Medium devices (tablets, 800px and below) */
  @media (max-width: 765px) {

    .container-fluid {
      background-color: white;

    }
    #banner, #contact {
      height: 100vh
    }
    .banner-image {
     width: 100%;
     max-width: 200px;
     height: auto;
     margin-top: 20%;
     vertical-align: middle;
     margin-left: auto;
     margin-right: auto;
     display: block;
    }
    #about, #gallery {
      max-height: auto;
    }

    h1 {
      font-size: 30px;
      text-align: center;
    }

    .banner-paragraph {
      font-size: 18px;
      text-align: center;
      margin: 10% 8%;
    }

    .btn-banner {
      display: table;
      margin: 0 auto;
    } /* Consulted > https://stackoverflow.com/questions/38992827/aligning-bootstrap-image-and-2-buttons-in-center-on-mobile-view */


    .title {
      margin-top: 15%;
      font-size: 25px;
    }

    #about, #gallery, #contact {
      padding-left: 5%;
      padding-right: 5%;
      max-height: auto;
      overflow: auto;
    }

    .custom-cta {
      float: right;
      margin-top:7%;
      margin-bottom:0;
    }

    .about-paragraphs {
      margin: 0 2%;
      text-align: justify;
      padding-right: 0px;
      padding-left: 0px;
    }

    .about-h4 {
      font-size: 20px;
      margin-top: 8%;
    }

    .fab-group {
      padding-top: 13%;
    }

    .footer-text {
      padding-top: 7%;
    }

    .fab {
      padding-left: .3em;
      padding-right: .3em;
    }

    #myBtn {
    font-size: 5px;
  }

  }

/* Small devices, above 320px and below 480px -iPhone 4 and 4S (portrait and landscape) */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px) {

    .banner-image {
     margin-top: 15%;
    }

    h1 {
      margin-top: 5%;
      font-size: 20px;
    }

    .banner-paragraph {
      font-size: 16px;
      margin: 10% 8%;
    }

    .title {
      margin-top: 20%;
      font-size: 20px;
    }

    .custom-cta {
      margin-bottom:5%;
    }

    .about-h4 {
      font-size: 18px;
      margin-top: 6%;
    }

    .about-paragraphs {
      margin: 0 2%;
      font-size: 16px;
    }

    .work-description, .form-paragraph {
      font-size: 16px;
    }

    label {
      font-size: 16px;
    }

    .fab-group {
      padding-top: 10%;
    }

    .footer-text {
      padding-top: 4%;
      font-size: 12px;
    }

    .fab {
      padding-left: .2em;
      padding-right: .2em;
    }
  }
